MultiSim/Shared/LabVIEW Run-Time/2015/variable/attribs/varattrib.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VarAttributeType">
    <xs:attribute name="name" use="required" />
    <xs:attribute name="id" use="required" />
  </xs:complexType>

  <xs:element name="var-attribute" type="VarAttributeType" />
</xs:schema>