MultiSim/Shared/MIF/MetaSuite/UpdateInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by RONAYLD BYRD (NATIONAL INSTRUMENTS) -->
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="updateInfo" type="T_updateInfo">
		<xs:annotation>
			<xs:documentation>IMPORTANT!
Before making changes to this schema, read //NIInstallers/Website/reference/updateInfo_xml/updateInfo_xml.htm and follow the checklist.

For any change you make, add an annotation to the modified information. Also update the annotation for the client or server version attribute.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="T9_condition">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="T7_pnpString">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="T7_hardwareId">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="T5_packageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSI"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T3_requireSerialNumber">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="T3_installDirectory">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="T3_hasNICertificate">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="T3_distributionType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="T_updateInfo">
		<xs:sequence>
			<xs:element name="server" type="T2_server"/>
			<xs:element name="client" type="T2_client"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T9_message">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="lang" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T8_warnCondition">
		<xs:sequence>
			<xs:element name="message" type="T9_message" maxOccurs="unbounded"/>
			<xs:element name="condition" type="T9_condition"/>
		</xs:sequence>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="MSI"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T6_device">
		<xs:sequence>
			<xs:element name="hardwareId" type="T7_hardwareId"/>
			<xs:element name="pnpString" type="T7_pnpString"/>
		</xs:sequence>
		<xs:attribute name="name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T5_warnConditions">
		<xs:sequence>
			<xs:element name="warnCondition" type="T8_warnCondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T5_supportedHardware">
		<xs:sequence>
			<xs:element name="device" type="T6_device" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T5_installConditions">
		<xs:sequence>
			<xs:element name="installCondition" type="T10_installCondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="niPathsVersion" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>MIF 3.1, server 1.4</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T5_UPC">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="version" type="xs:string" use="required"/>
				<xs:attribute name="productName" type="xs:string" use="required"/>
				<xs:attribute name="minimumVersion" type="xs:string" use="required"/>
				<xs:attribute name="maximumVersion" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Added MIF 2.6, server 1.1</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T5_product">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="UPC" use="optional"/>
				<xs:attribute name="UPV" use="optional"/>
				<xs:attribute name="UpgradeCode" use="optional"/>
				<xs:attribute name="ProductVersion" type="xs:string" use="optional"/>
				<xs:attribute name="SxSUpgradeMin" use="optional">
					<xs:annotation>
						<xs:documentation>Added MIF 3.3, server 1.5</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T4_licenseFile">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="language" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T3_licenseFilesType">
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T3_licenseFiles">
		<xs:sequence>
			<xs:element name="licenseFile" type="T4_licenseFile" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="group" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="isDisplayedAlone" use="optional">
			<xs:annotation>
				<xs:documentation>Added MIF 3.0, client 1.6</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:boolean"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="isThirdParty" use="optional">
			<xs:annotation>
				<xs:documentation>Added MIF 3.0, client 1.6</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:boolean"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T2_server">
		<xs:sequence>
			<xs:element name="products" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Added MIF 2.7

MIF 2.5-2.6.1 added UPCs commented out if the distribution was not designated as the primary update source for the product associated with the UPC.

In MIF 2.7 and later, the UPCs are added to this "products" element instead.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="product" type="T5_product" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>All UPCs in the distribution are listed here regardless of whether the distribution is designated as the primary update source for the product.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UPC" type="T5_UPC" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Not all UPCs in the distribution are listed here. This list is comprised of UPCs for which the distribution is designated as the primary update source for the product.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="packageType" type="T5_packageType"/>
			<xs:element name="installConditions" type="T5_installConditions" minOccurs="0">
				<xs:annotation>
					<xs:documentation>WinMIF 14.5: Added minOccurs="0". UpdateService no longer processes this element but we need to keep it for backward compatibility.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="warnConditions" type="T5_warnConditions" minOccurs="0">
				<xs:annotation>
					<xs:documentation>WinMIF 14.5: Added minOccurs="0". UpdateService no longer processes this element but we need to keep it for backward compatibility.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="supportedHardware" type="T5_supportedHardware" minOccurs="0"/>
			<xs:element name="licensedProducts" type="T5_licensedProducts" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Prior to MIF 2.7 this information was added by hand post-build. Now it is auto-generated based on the package names in the license files in the distribution.

If there is no license information, this element is empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="version" use="required">
			<xs:annotation>
				<xs:documentation>Server version is:
1.6</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T2_client">
		<xs:sequence>
			<xs:element name="nidistid">
				<xs:annotation>
					<xs:documentation>Added MIF 2.8, client 1.5</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="DistributionGUID" type="xs:string" use="required"/>
					<xs:attribute name="DistPackageGUID" type="xs:string" use="required"/>
					<xs:attribute name="DistributionVersion" type="xs:string" use="required"/>
					<xs:attribute name="DistributionLanguage" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="eulaDepot" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Added MIF 3.1, client 1.7</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="relativePathToZip" type="xs:string" use="required"/>
					<xs:attribute name="version" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="distributionType" type="T3_distributionType">
				<xs:annotation>
					<xs:documentation>Added MIF 2.5, client 1.1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence>
				<xs:element name="requireSerialNumber" type="T3_requireSerialNumber">
					<xs:annotation>
						<xs:documentation>Note: This element merely indicates whether the distribution prompts for a serial number - it does not actually indicate whether the serial number is required.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="serialGroup" type="T3_serialGroup" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Added MIF 2.7, client 1.3

Note: There will never be exactly 1 serial group. If the distribution has 1 serial number then requireSerialNumber will be true and there will be no serial groups listed. If there are more than 1 then requireSerialNumber will be true and there will be 2 or more serial groups.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:element name="installDirectory" type="T3_installDirectory" minOccurs="0" maxOccurs="unbounded"/>
			<xs:sequence>
				<xs:element name="licenseFiles" type="T3_licenseFiles" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="licenseFilesType" type="T3_licenseFilesType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Added MIF 2.6, client 1.2</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:element name="hasNICertificate" type="T3_hasNICertificate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Added MIF 2.6, client 1.2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="longestPath" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Added MIF 2.7, client 1.4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="distributionTitles" minOccurs="0" maxOccurs="1">
				<xs:annotation>
          <xs:documentation>Added MIF 3.2 for Batch Installer Builder, client 1.8</xs:documentation>
        </xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="distributionTitle" type="T1_distributionTitle" minOccurs="0" maxOccurs="unbounded">
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		<xs:element name="distributionSize" type="xs:unsignedLong">
			<xs:annotation>
			<xs:documentation>Added MIF 3.2 for Batch Installer Builder, client 1.8</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="minimumRequiredVersionOfMetaSuiteBuilder" type="xs:string">
			<xs:annotation>
			<xs:documentation>Added MIF 3.2 for Batch Installer Builder, client 1.8</xs:documentation>
			</xs:annotation>
		</xs:element>
    <xs:element name="suiteConditionalDefaultInstallStates" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Added MIF 16.0, client 1.9</xs:documentation>
      </xs:annotation>
      <xs:complexType>
        <xs:sequence>
          <xs:element name="suiteConditionalDefaultInstallState" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="condition" type="xs:string"/>
                <xs:element name="defaultInstallState" type="xs:string"/>
              </xs:sequence>
              <xs:attribute name="overwriteEntitlement" type="xs:boolean" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
     </xs:element>      
     <xs:element name="warnings" minOccurs="0">
	   <xs:annotation>
		    <xs:documentation>Added MIF 16.0, client 1.9</xs:documentation>
	   </xs:annotation>
     <xs:complexType>
        <xs:sequence>
          <xs:element name="warning" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>                
                <xs:element name="header" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="language" use="required"/>
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="info" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="language" use="required"/>
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="condition" type="xs:string" minOccurs="0"/>
              </xs:sequence>
              <xs:attribute name="isFatal" type="xs:boolean" use="optional"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element>		
		<xs:element name="metaUtilsVersion" type="xs:string">
			<xs:annotation>
				<xs:documentation>Added MIF 16.0, client 1.9</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="dotNetPreinstall" minOccurs="0" maxOccurs="1">
			<xs:annotation>
				<xs:documentation>Added MIF 3.3, server 1.5</xs:documentation>
			</xs:annotation>
			<xs:complexType>
				<xs:sequence>
					<xs:element name="key" maxOccurs="unbounded">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:string">
									<xs:attribute name="item" type="xs:string" use="required"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>

			</xs:sequence>
		<xs:attribute name="version" use="required">
			<xs:annotation>
				<xs:documentation>Client version is:
1.9</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T10_installCondition">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="MSI"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T3_serialGroup">
		<xs:sequence>
			<xs:element name="name" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="language" type="xs:string" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="T5_licensedProducts">
		<xs:sequence>
			<xs:element name="licensedProduct" type="T6_licensedProduct" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T6_licensedProduct">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="version" type="xs:string" use="required"/>
				<xs:attribute name="isCore" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation>Added MIF 2.8, client 1.5

This attribute value comes from the coreLicenses attribute for the product in the DDF.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ProductName" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>Added MIF 2.8, client 1.5

This attribute is only present if isCore is true. It comes from the ProductName property of the part that contains the license file.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ProductVersion" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>Added MIF 2.8, client 1.5

This attribute is only present if isCore is true. It comes from the ProductVersion property of the part that contains the license file.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T1_distributionTitle">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="language" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
